
<div class="course-body">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 course-content">
                    <h3>What one thing about your character, if it was fixed, would entirely change the quality of your life?</h3>
                    <textarea class="crs-q-textbox"></textarea>
                    <br>
                    <br>
                    <button class="crs-ques-submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 course-content">
                    <h3>Who are the top three people you admire in life?</h3>
                    <input type="text" class="crs-q-input">
                    <input type="text" class="crs-q-input">
                    <input type="text" class="crs-q-input">
                    <br>
                    <br>
                    <button class="crs-ques-submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 course-content">
                    <h3>Out of this list, which values do they seem to live and embody?</h3>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <br>
                    <br>
                    <button class="crs-ques-submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>
</div>
