    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Content</h2>
                    <p></p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="/content.html" class="btn btn-default btn-lg">Content</a>
                    
                    
                    
                </div>
            </div>
        </div>
    </section>


     