    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Content</h2>
                    <p></p>
                    <a href="" class="btn btn-default btn-lg">Content</a>
                    {% if page.slider %}
                        {% include slider.html height="50" unit="%" transition="slide" duration="7" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>