    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Content</h2>
                    <p></p>
                    <a href="post.html" class="btn btn-default btn-lg">Content</a>
                    <ul>
                    <!-- {% for post in site.posts %}
                        <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        </li>
                    {% endfor %} -->
                    </ul>
                    {% if page.slider %}
                        {% include slider.html height="50" unit="%" transition="slide" duration="7" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


     <!-- {% for item in site.posts %}
                                <h2>{{item.title}}</h2>
                                <p>{{ item.content }}</p>
                            {% endfor %}