    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <div><p class="intro-text">Truth | Humility | Holism</p><br><img class="brand-logo" src="../img/mmlogo.png" alt="Meme and Meaning"></div>
                        
                        
                        <!-- <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
