<!-- Post Header -->
<header class="intro-posts">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 post-page-head">
                    <div class="blog-title">
                        <h1>Blog</h1>
                        <p class="intro-text"></p><br>
                    </div>
                </div>
            </div>
            <div class="archives row">
                <div class="archive-group all-posts-show col-md-3 col-sm-6">
                    <div id="#{{ category_name | slugize }}"></div>
                    <p></p>
                    <h4 class="category-head all-posts-btn">All Posts</h4>
                    <a name="{{ category_name | slugize }}"></a>
                </div>
                
                {% for category in site.categories %}
                    {% capture category_name %}{{ category | first }}{% endcapture %}
                    <div class="archive-group col-md-3 col-sm-6 archive-{{ category_name }})">
                    
                    <div id="#{{ category_name | slugize }}"></div>
                    <p></p>
                    
                    <a><h4 class="category-head {{ category_name }}">{{ category_name }}</h4></a>
                    <a name="{{ category_name | slugize }}"></a>
                    {% for post in site.categories[category_name] %}
                        <article class="archive-item cat-item {{ category_name }} col-md-4 col-sm-6" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{{ post.image }}');">
                    
                            <h5 class="post-img-div col-md-4 col-sm-6"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
                        </article>
                    {% endfor %}
                    <!-- {% for post in site.categories[category_name] %}
                    <article class="archive-item">
                        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                    </article>
                    {% endfor %} -->
                    </div>
                {% endfor %}
            </div>
            <br>
            <br>
            <br>
            <div class="post-display">
                {% for post in site.posts %}
                    <article class="archive-item all-item col-md-4 col-sm-6" style="background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('{{ post.image }}');">
                        
                        <h5 class="post-img-div"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
</header>


