<!-- Post Header -->
<header class="intro-posts">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="intro-text">Posts<br></h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>