<!-- Post Header -->
<header class="intro-posts">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 post-page-head">
                    <div class="blog-title">
                        <h1>Blog</h1>
                        <p class="intro-text"></p><br>
                    </div>
                </div>
            </div>
            <!-- <div class="archives row">
                <div class="archive-group col-md-3">
                    <div id="#{{ category_name | slugize }}"></div>
                    <p></p>
                    <h4 class="category-head">All Posts</h4>
                    <a name="{{ category_name | slugize }}"></a>
                </div>
                
                {% for category in site.categories %}
                    <div class="archive-group col-md-3">
                    {% capture category_name %}{{ category | first }}{% endcapture %}
                    <div id="#{{ category_name | slugize }}"></div>
                    <p></p>
                    
                    <h4 class="category-head">{{ category_name }}</h4>
                    <a name="{{ category_name | slugize }}"></a> -->
                    <!-- {% for post in site.categories[category_name] %}
                    <article class="archive-item">
                        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                    </article>
                    {% endfor %} -->
                    <!-- </div>
                {% endfor %}
            </div> -->
            <br>
            <br>
            <br>
            <div>
                {% for post in site.posts %}
                    {% assign currentdate = post.date | date: "%B %Y" %}
                    {% if currentdate != date %}
                    {% unless forloop.first %}</div>{% endunless %}
                    <h3 id="y{{post.date | date: "%Y"}}" class="row">{{ currentdate }}</h3>
                    <div>
                    {% assign date = currentdate %}
                    {% endif %}
                    <div id="{{ post.link }}">
                        <div class="row">
                            <div id="post-content" class="col-md-8 col-md-offset-2">
                                <img class="post-img" alt="{{ post.alt-image }}" src="{{ post.image }}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 ">
                                <div class="post-style">
                                    
                                    <p class="post-meta"><img class="post-headshot" src="../img/steven1.jpg"/>Published on {{ post.date | date: '%B %d, %Y' }} by Steven Horkey || Image by {{ post.photographer }}</p>
                                    <iframe src="{{ post.podcast }}" seamless height="60" style="border:0" class="pinecast-embed" frameborder="0" width="100%"></iframe>
                                    <br>
                                    <br>
                                    <a href="{{ post.url }}"><h4 class="post-title text-center no-indent">{{ post.title }}</h4></a>
                                    
                                    <p></p><!--This is only to indent the first paragraph-->
                                    {{ post.content }}

                                    <img class="signiture" src="/img/signiture.png">

                                    <a href="{{ post.url }}"><button class="btn share-button">Share this Article</button></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.last %}</div>{% endif %} 
                {% endfor %}
            </div>  
        </div>
    </div>
</header>