<div class="course-body">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 course-content">
                    <h3>What are your top 10 values in life?</h3>
                    <textarea class="crs-q-textbox"></textarea>
                    <br>
                    <br>
                    <button class="crs-ques-submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 course-content">
                    <h3>What are your top 5 values in life?</h3>
                    <input type="text" class="crs-q-input">
                    <input type="text" class="crs-q-input">
                    <input type="text" class="crs-q-input">
                    <br>
                    <br>
                    <button class="crs-ques-submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 course-content">
                    <h3>Think of all the areas that make up your life. For each, roughly give a percentage of time that you dedicate to that area currently. Consider some or all of these areas:  Health, Self-Esteem,
                    Goals-and-Values, Spiritual Life, Money, Work, Play, Learning, Creativity, Helping, Love,
                    Friends, Children, Relatives, Home, Neighborhood, Community. Feel free to add a different area that makes sense to you... </h3>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <div class="crs-val-choice char-md-2 char-sm-4 char-xs-6">Test</div>
                    <br>
                    <br>
                    <button class="crs-ques-submit">Submit</button>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </section>
</div>
