.post-title{
    color: #0000009c;
    padding-bottom: 20px;
}

.blog-title{
    position: relative;
    top: 22vh;
}
.post-page-position{
    position: relative;
    top: 22vh;
}

.post-date-heads{
    margin: 5px 0;
    clear: both;
    padding: 12px 0;
    font-weight: 600;
}

.post-headshot{
    width: 40px;
    display: inline;
    border-radius: 150px;
    border: grey 1px solid;
    margin-right: 12px;
}

.post-style{
    color: black;
    padding:2% 7% 7% 7%;
    text-align: justify;
    background: white;
    /* margin-bottom: 50px; */
    
    /* background: rgba(0, 0, 0, 0.5); */
}
.post-style>p{
    color: black;
    text-indent: 0 !important;
}
.blockquote{
    color: black;
}
.post-meta{
    font-size: 14px;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 30px;
    text-align: center;
    color: grey !important;
}
.post-page-head{
    height: 60vh;
}


.post-img{
    width: 100%;

}

.signiture{
    width: 220px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #efecdb;
    border-radius: 35px;
    font-size: 40px;
    color: #efecdb;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #efecdb;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}