section #about {
    padding-top: 25px;
    height: fit-content;
    position: relative;
}
dl {
    font-size: 18px;
    color: #efecdb;
    text-align: justify;
}
dd{
    /* indent: none; */
    margin-left: 3em;
}

.headshot{
    width: 200px;
    border-radius: 150px;
    border: 5px solid #9A9993;
    padding: 5px;
    position: relative;
    -webkit-filter: grayscale(50%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(50%); /* FF 35+ */
    display: block;
    margin: 0 auto;
}