/* Recent Posts */
.recent-posts{
    padding: 50px 0 30px 0;
    /* background: url('../../img/forest-river.jpg') */
    background: linear-gradient(rgba(0, 0, 0, 0.267),rgba(0, 0, 0, 0.178)), url('/../img/pondtrees.jpg');
    background-position: center;
    background-size: cover;
    color: black;
}